@model Corona_System.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label"></label>
                <input asp-for="MobilePhone" class="form-control" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine1Date" class="control-label"></label>
                <input asp-for="Vaccine1Date" class="form-control" />
                <span asp-validation-for="Vaccine1Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine1Manufacturer" class="control-label"></label>
                <select asp-for="Vaccine1Manufacturer" class="form-control">
                    <option value="">Choose vaccine manufacturer</option>
                    @{
                        string pfizerSelected1 = Model.Vaccine1Manufacturer == "Pfizer" ? "selected" : "";
                        string modernaSelected1 = Model.Vaccine1Manufacturer == "Moderna" ? "selected" : "";
                        string noneSelected1 = Model.Vaccine1Manufacturer == "None" ? "selected" : "";
                    }
                    <option value="Pfizer" selected="@pfizerSelected1">Pfizer</option>
                    <option value="Moderna" selected="@modernaSelected1">Moderna</option>
                    <option value="None" selected="@noneSelected1">None</option>
                </select>
                <span asp-validation-for="Vaccine1Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine2Date" class="control-label"></label>
                <input asp-for="Vaccine2Date" class="form-control" />
                <span asp-validation-for="Vaccine2Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine2Manufacturer" class="control-label"></label>
                <select asp-for="Vaccine2Manufacturer" class="form-control">
                    <option value="">Choose vaccine manufacturer</option>
                    @{
                        string pfizerSelected2 = Model.Vaccine2Manufacturer == "Pfizer" ? "selected" : "";
                        string modernaSelected2 = Model.Vaccine2Manufacturer == "Moderna" ? "selected" : "";
                        string noneSelected2 = Model.Vaccine2Manufacturer == "None" ? "selected" : "";
                    }
                    <option value="Pfizer" selected="@pfizerSelected2">Pfizer</option>
                    <option value="Moderna" selected="@modernaSelected2">Moderna</option>
                    <option value="None" selected="@noneSelected2">None</option>
                </select>
                <span asp-validation-for="Vaccine2Manufacturer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Vaccine3Date" class="control-label"></label>
                <input asp-for="Vaccine3Date" class="form-control" />
                <span asp-validation-for="Vaccine3Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine3Manufacturer" class="control-label"></label>
                <select asp-for="Vaccine3Manufacturer" class="form-control">
                    <option value="">Choose vaccine manufacturer</option>
                    @{
                        string pfizerSelected3 = Model.Vaccine3Manufacturer == "Pfizer" ? "selected" : "";
                        string modernaSelected3 = Model.Vaccine3Manufacturer == "Moderna" ? "selected" : "";
                        string noneSelected3 = Model.Vaccine3Manufacturer == "None" ? "selected" : "";
                    }
                    <option value="Pfizer" selected="@pfizerSelected3">Pfizer</option>
                    <option value="Moderna" selected="@modernaSelected3">Moderna</option>
                    <option value="None" selected="@noneSelected3">None</option>
                </select>
                <span asp-validation-for="Vaccine3Manufacturer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Vaccine4Date" class="control-label"></label>
                <input asp-for="Vaccine4Date" class="form-control" />
                <span asp-validation-for="Vaccine4Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccine4Manufacturer" class="control-label"></label>
                <select asp-for="Vaccine4Manufacturer" class="form-control">
                    <option value="">Choose vaccine manufacturer</option>
                    @{
                        string pfizerSelected4 = Model.Vaccine4Manufacturer == "Pfizer" ? "selected" : "";
                        string modernaSelected4 = Model.Vaccine4Manufacturer == "Moderna" ? "selected" : "";
                        string noneSelected4 = Model.Vaccine4Manufacturer == "None" ? "selected" : "";
                    }
                    <option value="Pfizer" selected="@pfizerSelected4">Pfizer</option>
                    <option value="Moderna" selected="@modernaSelected4">Moderna</option>
                    <option value="None" selected="@noneSelected4">None</option>
                </select>
                <span asp-validation-for="Vaccine4Manufacturer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PositiveResultDate" class="control-label"></label>
                <input asp-for="PositiveResultDate" class="form-control" />
                <span asp-validation-for="PositiveResultDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecoveryDate" class="control-label"></label>
                <input asp-for="RecoveryDate" class="form-control" />
                <span asp-validation-for="RecoveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
